services:
  ipfs_host:
    image: ipfs/kubo:latest 
    container_name: ipfs
    restart: unless-stopped
    ports:
      - "4001:4001/tcp" 
      - "4001:4001/udp" 
      - "127.0.0.1:3030:3030" 
      - "127.0.0.1:5001:5001"
    volumes:
      - ipfs_data:/data/ipfs 
    environment:
      - IPFS_PROFILE=server
      - IPFS_TELEMETRY=off
    networks:
    - web3

volumes:
  ipfs_data:
  ipfs_staging:
networks:
  web3:
